<% if @user.admin %>
  <div class="container">
    <h2 class='header-lined'>Users</h2>
    <div class="'row">
      <div class="col-md-7">
        <strong>Email</strong>
      </div>
      <div class="col-md-3">
        <strong>Total Rates</strong>
      </div>
      <div class="col-md-2">
        <strong>Actions</strong>
      </div>
    </div>
    <% @users.each do |user| %>
      <div class="'row" %>
        <div class="col-md-7">
          <%= user.email %>
        </div>
        <div class="col-md-3">
          <%= "%.2f" %  ((user.subscriptions.sum(&:rate)).to_f/100) %>
        </div>
        <div class="col-md-2">
          <%= link_to 'Edit Subscriptions', subscriptions_path(user_id: user) %> <br/>
          <%= link_to 'Edit Invoices', invoices_path(user_id: user) %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="container">
    <h2 class='header-lined'>My dashboard</h2>
    <ul class='nav nav-tabs'>
      <li class='active'>
        <a data-toggle='tab' href='#home'>
          <i class='icon-user'></i>
          My details
        </a>
      </li>
      <li>
        <a data-toggle='tab' href='#password'>
          <i class='icon-eye-open'></i>
          My password
        </a>
      </li>
      <li>
        <a data-toggle='tab' href='#invoices'>
          <i class='icon-desktop'></i>
          My invoices
        </a>
      </li>
      <% if @user.subscriptions.count > 0 %>
        <li>
          <a data-toggle='tab' href='#subscriptions'>
            <i class='icon-link'></i>
            My subscriptions
          </a>
        </li>
      <% end %>
      <li>
        <a data-toggle='tab' href='#tickets'>
          <i class='icon-list'></i>
          My tickets
        </a>
      </li>
    </ul>
    <div class='tab-content'>
      <div class='tab-pane active' id='home'>
        <h4 class='header-lined less-margin'>This are your registred details: <%= link_to 'Contact us', contact_us_statics_path %> if you need to update them.</h4>
        <%= form_for @user, url: dashboard_path(@user), method: :put do |f| %>
          <div class="form-group">
            <%= f.label :given_name, 'Given name' %>
            <%= f.text_field :given_name, class: 'form-control', :value => @customer.given_name %>
          </div>
          <div class="form-group">
            <%= f.label :family_name, 'Family name' %>
            <%= f.text_field :family_name, class: 'form-control', :value => @customer.family_name %>
          </div>
          <div class="form-group">
            <%= f.label :company_name, 'Company name' %>
            <%= f.text_field :company_name, class: 'form-control', :value => @customer.company_name %>
          </div>
          <div class="form-group">
            <%= f.label :web, 'Currency' %>
            <% if @customer.currency_ref.nil? %>
              <%= f.text_field :currency, class: 'form-control', disabled: true %>
            <% else %>
              <%= f.text_field :currency, class: 'form-control', :value => @customer.currency_ref.value, disabled: true %>
            <% end %>
          </div>
          <div>
            <p><strong>Address</strong></p>
          </div>
          <% if  @customer.billing_address.nil? %>
            <div class="form-group">
              <%= f.label :address_line1, 'Address' %>
              <%= f.text_field :address_line1, class: 'form-control' %>

            </div>
            <div class="form-group">
              <%= f.label :address_line2, 'Address' %>
              <%= f.text_field :address_line2, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :address_line3, 'Address' %>
              <%= f.text_field :address_line3, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :address_line4, 'Address' %>
              <%= f.text_field :address_line4, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :address_city, 'City' %>
              <%= f.text_field :address_city, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :address_country_sub_division_code, 'County' %>
              <%= f.text_field :address_country_sub_division_code, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :address_country, 'Country' %>
              <%= f.text_field :address_country, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :address_postal_code, 'Postal Code' %>
              <%= f.text_field :address_postal_code, class: 'form-control' %>
            </div>
          <% else %>
            <div class="form-group">
              <%= f.label :address_line1, 'Address' %>
              <%= f.text_field :address_line1, class: 'form-control', :value => @customer.billing_address.line1 %>
            </div>
            <div class="form-group">
              <%= f.label :address_line2, 'Address' %>
              <%= f.text_field :address_line2, class: 'form-control', :value => @customer.billing_address.line2 %>
            </div>
            <div class="form-group">
              <%= f.label :address_line3, 'Address' %>
              <%= f.text_field :address_line3, class: 'form-control', :value => @customer.billing_address.line3 %>
            </div>
            <div class="form-group">
              <%= f.label :address_line4, 'Address' %>
              <%= f.text_field :address_line4, class: 'form-control', :value => @customer.billing_address.line4 %>
            </div>
            <div class="form-group">
              <%= f.label :address_city, 'City' %>
              <%= f.text_field :address_city, class: 'form-control', :value => @customer.billing_address.city %>
            </div>
            <div class="form-group">
              <%= f.label :address_country_sub_division_code, 'County' %>
              <%= f.text_field :address_country_sub_division_code, class: 'form-control', :value => @customer.billing_address.country_sub_division_code %>
            </div>
            <div class="form-group">
              <%= f.label :address_country, 'Country' %>
              <%= f.text_field :address_country, class: 'form-control', :value => @customer.billing_address.country %>
            </div>
            <div class="form-group">
              <%= f.label :address_postal_code, 'Postal Code' %>
              <%= f.text_field :address_postal_code, class: 'form-control', :value => @customer.billing_address.postal_code %>
            </div>
          <% end %>

          <div>
            <p><strong>Phones</strong></p>
          </div>
          <div class="form-group">
            <%= f.label :primary_phone, 'Phone' %>
            <% if @customer.primary_phone.nil? %>
              <%= f.text_field :primary_phone %>
            <% else %>
              <%= f.text_field :primary_phone, class: 'form-control', :value => @customer.primary_phone.free_form_number %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :mobile_phone, 'Mobile' %>
            <% if @customer.mobile_phone.nil? %>
              <%= f.text_field :mobile_phone, class: 'form-control' %>
            <% else %>
              <%= f.text_field :mobile_phone, class: 'form-control', :value => @customer.mobile_phone.free_form_number %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :fax_phone, 'Fax' %>
            <% if @customer.fax_phone.nil? %>
              <%= f.text_field :fax_phone, class: 'form-control' %>
            <% else %>
              <%= f.text_field :fax_phone, class: 'form-control', :value => @customer.fax_phone.free_form_number %>
            <% end %>
          </div>

          <div>
            <p><strong>Internet</strong></p>
          </div>
          <div class="form-group">
            <%= f.label :email, 'Email' %>
            <% if  @customer.primary_email_address.nil? %>
              <%= f.text_field :email, class: 'form-control', disabled: true %>
            <% else %>
              <%= f.text_field :email, class: 'form-control', :value => @customer.primary_email_address.address, disabled: true %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :web, 'Website' %>
            <% if @customer.web_site.nil? %>
              <%= f.text_field :web_site, class: 'form-control' %>
            <% else %>
              <%= f.text_field :web_site, class: 'form-control', :value => @customer.web_site.uri %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class='tab-pane' id='password'>
        <h4 class='header-lined less-margin'>Password update</h4>
        <%= form_for(@user, :url => { :action => "update_password" }, method: :put ) do |f| %>
          <div class="field">
            <%= f.label :password, "Password" %><br />
            <%= f.password_field :password, :autocomplete => "off"  %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation %>
          </div>
          <div class="action_container">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
      <div class='tab-pane' id='invoices'>
        <h4 class='header-lined less-margin'>My invoices</h4>
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <strong>Invoice Number</strong>
            </div>
            <div class="col-md-2">
              <strong>Date</strong>
            </div>
            <div class="col-md-2">
              <strong>Due Date</strong>
            </div>
            <div class="col-md-2">
              <strong>Balance</strong>
            </div>
            <div class="col-md-4">
            </div>
          </div>
          <% @invoices.entries.each do |invoice| %>
            <% invoice_doc = @user.invoices.find_or_create_by(number: invoice.doc_number) %>
            <div class="row">
              <div class="col-md-2">
                <% if invoice_doc.invoice.url.nil? %>
                  <%= invoice.doc_number %>
                <% else %>
                  <%= link_to invoice.doc_number, invoice_path(invoice_doc, user_id: @user.id), target: '_blank' %>
                <% end %>
              </div>
              <div class="col-md-2">
                <%= invoice.txn_date %>
              </div>
              <div class="col-md-2">
                <%= invoice.due_date %>
              </div>
              <div class="col-md-2">
                <%= invoice.total_amount %> <%= invoice.currency_ref.value %>
              </div>
              <div class="col-md-4">
                <% if invoice.balance > 0%>
                  <% if invoice.private_note.nil? or invoice.private_note.blank? %>
                    <%= form_tag dashboard_index_path do %>
                      <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Settings.stripe_public_key %>"
                      data-amount="<%= (invoice.total_amount*100).to_i %>"
                      data-name="<%= @application_name %>"
                      data-description="Pay <%= invoice.total_amount %> <%= invoice.currency_ref.value %>"
                      data-currenncy="<%= invoice.currency_ref.value %>"
                      data-email="<%= current_user.email %>"
                      >
                      </script>
                      <%= hidden_field_tag :invoice, invoice.id %>
                    <% end %>
                  <% else %>
                    Transaction recorded
                  <% end %>
                <% else %>
                  Nothing to do
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class='tab-pane' id='subscriptions'>
        <div class="row">
          <div class="col-md-3">
            <strong>ID</strong>
          </div>
          <div class="col-md-2">
            <strong>Product</strong>
          </div>
          <div class="col-md-3">
            <strong>Description</strong>
          </div>
          <div class="col-md-1">
            <strong>Rate</strong>
          </div>
          <div class="col-md-1">
            <strong>Next renew</strong>
          </div>
          <div class="col-md-1">
            <strong>Remaining units</strong>
          </div>
          <div class="col-md-1">
            <strong>Action</strong>
          </div>
        </div>
        <% @user.subscriptions.each do |subscription| %>
          <div class="row">
            <div class="col-md-3">
              <%=subscription.id %>
            </div>
            <div class="col-md-2">
              <%=subscription.product %>
            </div>
            <div class="col-md-3">
              <%=subscription.description %>
            </div>
            <div class="col-md-1">
              <%= "%.2f" % (subscription.rate.to_f/100) %>
            </div>
            <div class="col-md-1">
              <% if subscription.recurring%>
                <%=subscription.month %>
              <% end %>
            </div>
            <div class="col-md-1">
              <% if subscription.maintenance%>
                <% if subscription.item_type == 'tickets' %>
                  <% q = subscription.item_quantity - @zendesk_client.search(query: 'requester:' + @zendesk_user.id.to_s + ' type:ticket tags:' + subscription.id.to_s).count %>
                <% else %>
                  <% q = subscription.item_quantity %>
                <% end %>
                <%=q.to_s + ' ' + subscription.item_type%>
              <% end %>
            </div>
            <div class="col-md-1">
              <% if subscription.enabled%>
                <%= link_to 'Suspend', subscription_path(user_id: @user, id: subscription), method: :delete %>
              <% else %>
                <%= link_to 'Enable', subscription_path(user_id: @user, id: subscription), method: :delete %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class='tab-pane' id='tickets'>
        <div class="row">
          <div class="col-md-2">
            <strong>Ticket Number</strong>
          </div>
          <div class="col-md-4">
            <strong>Subject</strong>
          </div>
          <div class="col-md-2">
            <strong>Created at</strong>
          </div>
          <div class="col-md-2">
            <strong>Last update at</strong>
          </div>
          <div class="col-md-2">
            <strong>Status</strong>
          </div>
        </div>
        <% @tickets.each do |ticket| %>
          <div class="row">
            <div class="col-md-2">
              <%= ticket.id %>
            </div>
            <div class="col-md-4">
              <%= ticket.subject.truncate(47, separator: ' ') %>
            </div>
            <div class="col-md-2">
              <%= ticket.created_at.strftime('%d-%m-%Y %k:%M:%S') %>
            </div>
            <div class="col-md-2">
              <%= ticket.updated_at.strftime('%d-%m-%Y %k:%M:%S') %>
            </div>
            <div class="col-md-2">
              <%= ticket.status %>
            </div>
          </div>
        <% end %>
        <h4 class='header-lined less-margin'>How to request our help</h4>
        <p>
          The best way to interact with us is to send an email to <a href="mailto: support@moyd.co">support@moyd.co</a> from your email <%=current_user.email%>.
          If you want to use another email to talk with us, please submit your request via the <%= link_to 'Contact Form', contact_us_statics_path %>.
        </p>
        <p>You can also use the chat box below: if we are not online, don't worry: we will be notified immediatly via email.</p>
        <p>At last if you prefere using the phone, call our helpdesk at +44 (0) 161 850 3720.</p>
        <p>All your requests will be managed by our <a href="https://moydco.zendesk.com">customer support</a> portal.</p>
        <p>Before log in for the first time, you have to setup your password clicking on <a href="https://moydco.zendesk.com/access/unauthenticated?return_to=https%3A%2F%2Fmoydco.zendesk.com%2Fhc%2Fen-gb&theme=hc#">Forgot my password</a>.</p>
        <p>Feel free to login to our customer support portal to view your ticket status.</p>
      </div>
    </div>
  </div>
<% end %>
