<% if @user.admin %>
  <%= render 'dashboard/admin_dashboard' %>
<% else %>
  <div class="container">
    <h2 class='header-lined'>My dashboard</h2>
    <ul class='nav nav-tabs'>
      <li class='active'>
        <a data-toggle='tab' href='#home'>
          <i class='icon-user'></i>
          My details
        </a>
      </li>
      <li>
        <a data-toggle='tab' href='#password'>
          <i class='icon-eye-open'></i>
          My password
        </a>
      </li>
      <li>
        <a data-toggle='tab' href='#invoices'>
          <i class='icon-desktop'></i>
          My invoices
        </a>
      </li>
      <% if @user.subscriptions.count > 0 %>
        <li>
          <a data-toggle='tab' href='#subscriptions'>
            <i class='icon-link'></i>
            My subscriptions
          </a>
        </li>
      <% end %>
      <li>
        <a data-toggle='tab' href='#tickets'>
          <i class='icon-list'></i>
          My tickets
        </a>
      </li>
    </ul>
    <div class='tab-content'>

      <%= render 'dashboard/user_dashboard' %>
      <%= render 'dashboard/change_password' %>
      <%= render 'dashboard/invoices' %>
      <%= render 'dashboard/subscriptions' %>
      <%= render 'dashboard/tickets' %>

    </div>
  </div>
<% end %>
