<div class='highlight-content highlighted-image-dns text-center cta-box light'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h1 class='animated fadeInDown'>MOYD.CO DNS: <br />be the Master Of Your Domain!</h1>
        <p class='animated fadeInUp'>We're Route53 for your Hybrid Cloud:<br/>perfect for Openstack & OpenNebula.</p>
      </div>
    </div>
  </div>
</div>

<!--
<section class='leaderboard leaderboard-style-one'>
  <div class='container'>
    <h1 class='animated fadeInDown'>MOYD.CO DNS: be the Master Of Your Domain!</h1>
    <h2 class='animated fadeInDown'>We're Route53 for your Hybrid Cloud: perfect for Openstack & OpenNebula</h2>
    <div class='relative-w'>
      <div class='frame-browser animated bounceInUp'>
        <div class='frame-buttons'>
          <div class='frame-button-close'></div>
          <div class='frame-button-max'></div>
          <div class='frame-button-min'></div>
        </div>
        <div class='frame-browser-image'>
          <%# image_tag 'showcase.jpg' %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class='separator-shadow-top above-screenshot-shadow'>
  <%# image_tag 'shadow-separator-wide-top.png' %>
</div>

-->
</div>
<div class='area-content'>
<div class='container'>
<div class='separator-shadow-top sub-screenshot-shadow'>
  <%= image_tag 'shadow-separator-wide-top.png' %>
</div>
<div class='iconed-features lift-on-hover style-1'>
  <div class='row'>
    <div class='col-md-3'>
      <div class='iconed-feature'>
        <div class='feature-icon-w'>
          <i class='icon-eye-open'></i>
        </div>
        <h4>A powerful DNS</h4>
        <p>Written in Scala with security and speed in mind: the faster Dynamic DNS on the planet.</p>

      </div>
    </div>
    <div class='col-md-3'>
      <div class='iconed-feature'>
        <div class='feature-icon-w'>
          <i class='icon-cog'></i>
        </div>
        <h4>A complete API ecosystem</h4>
        <p>An complete set of API to control every aspect of the system, easily integrable with your external applications.</p>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='iconed-feature'>
        <div class='feature-icon-w'>
          <i class='icon-signal'></i>
        </div>
        <h4>An health check system</h4>
        <p>Active or passive checks to react and update records according to the events on your systems.</p>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='iconed-feature'>
        <div class='feature-icon-w'>
          <i class='icon-download-alt'></i>
        </div>
        <h4>It's OpenSource</h4>
        <p>We believe in OpenSource: the source code of our <%=link_to 'core DNS', 'https://github.com/Moydco/AlwaysResolveDNS'%> and our <%=link_to 'API system', 'https://github.com/Moydco/AlwaysResolveAPI' %> is on GitHub.</p>
      </div>
    </div>
  </div>
</div>
<div class='separator-shadow-bottom bottom-margin'>
  <%= image_tag 'shadow-separator-wide-bottom.png' %>
</div>
<div class='row bottom-margin'>
  <div class='col-md-5'>
    <h2 class='header-lined'>The problems</h2>
    <ul class='list-checkmarked text-bigger'>
      <li>
        <b>How can I avoid unnecessary costs?</b><br />
        Eliminate emergency security patching,<br />
        Forget about scheduling of updates,<br />
        Consolidate all your DNS servers,<br />
        Reduce customer support calls.
      </li>
      <li>
        <b>How can I avoid unnecessary risks?</b><br />
        Prevent security breaches from malicious code,<br />
        Eliminate risk of platform compromise,<br />
        Availability during denial of service attacks,<br />
        Distribute load on multiple datacenter.
      </li>
      <li>
        <b>How can I avoid unnecessary hurdles?</b><br />
        Increase DNS performance and capacity,<br />
        Stay online even while under attack,<br />
        Avoid downtime due to DNS server restarts,<br />
        Integrate in your existing cloud.
      </li>
    </ul>
    <!-- %a.btn.btn-default{:href => "#"} Show me Example -->
  </div>
  <div class='col-md-1'></div>
  <div class='col-md-6'>
    <div class='relative-w'>
      <div class='frame-browser animated-when-visible' data-animation-type='bounceInRight'>
        <div class='frame-buttons'>
          <div class='frame-button-close'></div>
          <div class='frame-button-max'></div>
          <div class='frame-button-min'></div>
        </div>
        <div class='frame-browser-image'>
          <%= image_tag 'problem.jpg' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='separator-shadow-top bottom-margin'>
  <%= image_tag 'shadow-separator-wide-top.png' %>
</div>

<div class='row bottom-margin'>
  <div class='col-md-6'>
    <div class='relative-w'>
      <div class='frame-browser animated-when-visible' data-animation-type='bounceInRight'>
        <div class='frame-buttons'>
          <div class='frame-button-close'></div>
          <div class='frame-button-max'></div>
          <div class='frame-button-min'></div>
        </div>
        <div class='frame-browser-image'>
          <%= image_tag 'showcase.jpg' %>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-1'></div>
  <div class='col-md-5'>
    <h2 class='header-lined'>The solution</h2>
    <ul class='list-checkmarked text-bigger'>
      <li>
        <b>A complete product!</b><br />
        DNS daemon written for speed and security,<br />
        Check system to dynamically update records,<br />
        APIs for integrating it with your apps,<br />
        An auth plugin for OpenStack & OpenNebula.
      </li>
      <li>
        <b>Distibute everything!</b><br />
        Multidatacenter by default,<br />
        Shared nothing architecture (SN),<br />
        Multidatacenter routing via Anycast BGP,<br />
        Resilient to multiple datacenter failures.
      </li>
      <li>
        <b>Scale to incredible load!</b><br />
        DNS servers works in RAM to increase speed,<br />
        Scale to hundreds of servers via Anycast OSPF,<br />
        Distribute load on multiple endpoints,<br />
        Native GeoDNS via Anycast resolution.
      </li>
    </ul>
    <!-- %a.btn.btn-default{:href => "#"} Show me Example -->
  </div>
</div>

</div>
<!--
<div class='highlight-content bottom-margin light'>
  <div class='carousel slide' id='carousel-testimonials'>

    <ol class='carousel-indicators'>
      <li class='active' data-slide-to='0' data-target='#carousel-testimonials'></li>
      <li data-slide-to='1' data-target='#carousel-testimonials'></li>
    </ol>
    <div class='carousel-inner'>
      <div class='item active'>
        <div class='container'>
          <div class='testimonial'>
            <div class='testimonial-icon'>
              <i class='icon-quote-left'></i>
            </div>
            <p>"This is an absolutely powerful system, easy to integrate in our infrastructre. I am glad I bought it and I will definitely recommend it!"</p>
            <div class='testimonial-by'>Chris Mayers - UK Cloud</div>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class='container'>
          <div class='testimonial'>
            <div class='testimonial-icon'>
              <i class='icon-quote-left'></i>
            </div>
            <p>"The power of a professional active DNS, but without the needs of a worldwide infrastructure. Now I can compete with big cloud providers!"</p>
            <div class='testimonial-by'>Mark Eldinberg - Yorkshire Systems</div>
          </div>
        </div>
      </div>
    </div>
    <a class='left carousel-control' data-slide='prev' href='#carousel-testimonials'>
      <span class='icon-prev'></span>
    </a>
    <a class='right carousel-control' data-slide='next' href='#carousel-testimonials'>
      <span class='icon-next'></span>
    </a>
  </div>
</div>
-->
<div class='separator-shadow-top above-screenshot-shadow'>
  <%= image_tag 'shadow-separator-wide-top.png' %>
</div>
<div class='container'>
<h2 class='header-lined has-sub-header text-center' id='anchorFeatures'>Features</h2>
<h4 class='sub-lined-header text-center'>...and more others are coming!</h4>
<div class='iconed-features style-2'>
  <div class='row'>
    <div class='col-md-4'>
      <div class='iconed-feature'>
        <div class='row'>
          <div class='col-md-4'>
            <div class='feature-icon-w animated-when-visible' data-animation-type='rollIn'>
              <i class='icon-ok'></i>
            </div>
          </div>
          <div class='col-md-8'>
            <h4>Many record types</h4>
            <p>We support A, AAAA, CNAME, MX, NS, PTR, TXT, SRV. DNSSEC records are coming.</p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='iconed-feature'>
        <div class='row'>
          <div class='col-md-4'>
            <div class='feature-icon-w animated-when-visible' data-animation-type='rollIn'>
              <i class='icon-exchange'></i>
            </div>
          </div>
          <div class='col-md-8'>
            <h4>Versioning system</h4>
            <p>All the history of your records, to undo a wrong update in seconds.</p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='iconed-feature'>
        <div class='row'>
          <div class='col-md-4'>
            <div class='feature-icon-w animated-when-visible' data-animation-type='rollIn'>
              <i class='icon-cloud-upload'></i>
            </div>
          </div>
          <div class='col-md-8'>
            <h4>Passive checks</h4>
            <p>Customer servers can directly talk to DNS without the need of an external check system.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='iconed-features style-2'>
  <div class='row'>
    <div class='col-md-4'>
      <div class='iconed-feature'>
        <div class='row'>
          <div class='col-md-4'>
            <div class='feature-icon-w animated-when-visible' data-animation-type='rollIn'>
              <i class='icon-random'></i>
            </div>
          </div>
          <div class='col-md-8'>
            <h4>Multiple routing mode</h4>
            <p>We support High Availability, Load Balancing and Latency routing mode.</p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='iconed-feature'>
        <div class='row'>
          <div class='col-md-4'>
            <div class='feature-icon-w animated-when-visible' data-animation-type='rollIn'>
              <i class='icon-eye-open'></i>
            </div>
          </div>
          <div class='col-md-8'>
            <h4>Internal Alias</h4>
            <p>If you want to create a tree of CNAME records, our DNS resolves internally and responds only with final destination.</p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='iconed-feature'>
        <div class='row'>
          <div class='col-md-4'>
            <div class='feature-icon-w animated-when-visible' data-animation-type='rollIn'>
              <i class='icon-cloud'></i>
            </div>
          </div>
          <div class='col-md-8'>
            <h4>Open Cloud Ready</h4>
            <p>Easy to integrate with OpenNebula and OpenCloud, the de-facto standards for private/hybrid cloud.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='separator-shadow-top above-screenshot-shadow'>
  <%= image_tag 'shadow-separator-wide-top.png' %>
</div>
<h2 class='header-lined has-sub-header text-center' id='anchorPricing'>Pricing Tables</h2>
<h4 class='sub-lined-header text-center'>We offer multiple pricing plans to go with your new account.</h4>
<div class='pricing-table-columns bottom-margin'>
  <div class='row'>
    <div class='col-md-4'>
      <div class='plan-column'>
        <h4>Community Edition</h4>
        <div class='separator-shadow-top'>
          <%= image_tag 'shadow-separator-narrow-top.png' %>
        </div>
        <div class='plan-price'>
          Free
        </div>
        <div class='separator-shadow-bottom'>
          <%= image_tag 'shadow-separator-narrow-bottom.png' %>
        </div>
        <ul>
          <li>
            <strong>Free</strong>
            Core DNS daemon written in Scala for maximum performance. API system written in RoR for easy customization and integration.
          </li>
          <li>
            <strong>OpenSource</strong>
            release, free of use in Apache 2.0 license. Source code hosted on GitHub.
          </li>
        </ul>
        <div class='separator-shadow-top'>
          <%= image_tag 'shadow-separator-narrow-top.png' %>
        </div>
        <div class='button-w'>
          <a class='btn btn-primary' href='https://github.com/moydco'>Go to GitHub</a>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='plan-column highlight'>
        <h4>On-Cloud Edition</h4>
        <div class='separator-shadow-top'>
          <%= image_tag 'shadow-separator-narrow-top.png' %>
        </div>
        <div class='plan-price'>
          £99
          <span>minimum top-up</span>
        </div>
        <div class='separator-shadow-bottom'>
          <%= image_tag 'shadow-separator-narrow-bottom.png' %>
        </div>
        <ul>
          <li>
            <strong>Unlimited</strong>
            DNS domains and record
          </li>
          <li>
            <strong>Pay only as you use</strong>:
            number of zones, number of checks, queries solved
          </li>
          <li>
            <strong>Complete reseller solution</strong>
            with an easy to use administration panel
          </li>
        </ul>
        <div class='separator-shadow-top'>
          <%= image_tag 'shadow-separator-narrow-top.png' %>
        </div>
        <div class='button-w'>
          <%= link_to 'Register', 'https://alwaysresolve.com', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='plan-column'>
        <h4>On-Premise Edition</h4>
        <div class='separator-shadow-top'>
          <%= image_tag 'shadow-separator-narrow-top.png' %>
        </div>
        <div class='plan-price'>
          £ 5.900
          <span>one time charge</span>
        </div>
        <div class='separator-shadow-bottom'>
          <%= image_tag 'shadow-separator-narrow-bottom.png' %>
        </div>
        <ul>
          <li>
            On Premise for <strong>CDN and Cloud</strong> providers.
          </li>
          <li>
            License valid for life,
            <strong>no limits</strong> of any kind!
          </li>
        </ul>
        <div class='separator-shadow-top'>
          <%= image_tag 'shadow-separator-narrow-top.png' %>
        </div>
        <div class='button-w'>
          <%= link_to 'Contact us for a demo', contact_us_statics_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>