<div class='highlight-content highlighted-image-hosting-user text-center cta-box light'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h1 class='animated fadeInDown'>MOYD.CO Hosting</h1>
        <h2 class='animated fadeInUp'>Speed and security without compromise.</h2>
      </div>
    </div>
  </div>
</div>

<!--
<section class='leaderboard leaderboard-style-one'>
  <div class='container'>
    <h1 class='animated fadeInDown'>MOYD.CO DNS: be the Master Of Your Domain!</h1>
    <h2 class='animated fadeInDown'>We're Route53 for your Hybrid Cloud: perfect for Openstack & OpenNebula</h2>
    <div class='relative-w'>
      <div class='frame-browser animated bounceInUp'>
        <div class='frame-buttons'>
          <div class='frame-button-close'></div>
          <div class='frame-button-max'></div>
          <div class='frame-button-min'></div>
        </div>
        <div class='frame-browser-image'>
          <%# image_tag 'showcase.jpg' %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class='separator-shadow-top above-screenshot-shadow'>
  <%# image_tag 'shadow-separator-wide-top.png' %>
</div>

-->
</div>
<div class='area-content'>
  <div class='container'>
    <div class='separator-shadow-top sub-screenshot-shadow'>
      <%= image_tag 'shadow-separator-wide-top.png' %>
    </div>
    <div class='iconed-features lift-on-hover style-1'>
      <div class='row'>
        <div class='col-md-3'>
          <div class='iconed-feature'>
            <div class='feature-icon-w'>
              <i class='icon-cloud'></i>
            </div>
            <h4>The best hardware</h4>
            <p>Our hosting VMs are instantiated on high speed hardware with SSD disks.</p>

          </div>
        </div>
        <div class='col-md-3'>
          <div class='iconed-feature'>
            <div class='feature-icon-w'>
              <i class='icon-cog'></i>
            </div>
            <h4>The best configuration</h4>
            <p>We don't use hosting panels like Plesk or cPanel: only custom configuration to improve speed and security.</p>
          </div>
        </div>
        <div class='col-md-3'>
          <div class='iconed-feature'>
            <div class='feature-icon-w'>
              <i class='icon-tags'></i>
            </div>
            <h4>The best support</h4>
            <p>H.24 ticket support via award winning Zendesk platform. We are happy to be in contact with you to improve our quality!</p>
          </div>
        </div>
        <div class='col-md-3'>
          <div class='iconed-feature'>
            <div class='feature-icon-w'>
              <i class='icon-plus'></i>
            </div>
            <h4>The best options</h4>
            <p>A complete set of features together with web hosting: emails, DNS, domain registration.</p>
          </div>
        </div>
      </div>
    </div>
    <div class='separator-shadow-bottom bottom-margin'>
      <%= image_tag 'shadow-separator-wide-bottom.png' %>
    </div>
    <div class='row bottom-margin'>
      <div class='col-md-5'>
        <h2 class='header-lined'>Why the speed is so important?</h2>
        <ul class='list-checkmarked text-bigger'>
          <li>
            <b>For the viewer</b><br />
            An user waits an average of maximum of 3 seconds to download a page: if you spend 2 seconds only to create the page layout, you'll have less time to download static contents like images.
          </li>
          <li>
            <b>For the SEO</b><br />
            One of the most important SEO rules says that the page speed is really important: if your website is slow, the search engines downgrade it.
          </li>
          <li>
            <b>For the price</b><br />
            If a website is slow, it reduces globally the server performances. If the website is fast, the server is less used and can host more sites.
          </li>
        </ul>
        <!-- %a.btn.btn-default{:href => "#"} Show me Example -->
      </div>
      <div class='col-md-1'></div>
      <div class='col-md-6'>
        <div class='relative-w'>
          <div class='frame-browser animated-when-visible' data-animation-type='bounceInRight'>
            <div class='frame-buttons'>
              <div class='frame-button-close'></div>
              <div class='frame-button-max'></div>
              <div class='frame-button-min'></div>
            </div>
            <div class='frame-browser-image'>
              <%= image_tag 'speed_test.png' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='separator-shadow-top bottom-margin'>
      <%= image_tag 'shadow-separator-wide-top.png' %>
    </div>

    <h2 class='header-lined has-sub-header text-center' id='anchorPricing'>Pricing Tables</h2>
    <h4 class='sub-lined-header text-center'>The same price for three different services.</h4>
    <div class='pricing-table-columns bottom-margin'>
      <div class='row'>
        <div class='col-md-4'>
          <div class='plan-column'>
            <h4>node.js hosting</h4>
            <div class='separator-shadow-top'>
              <%= image_tag 'shadow-separator-narrow-top.png' %>
            </div>
            <div class='plan-price'>
              <div class='plan-price'>
                £ 99
                <span>year</span>
              </div>
            </div>
            <div class='separator-shadow-bottom'>
              <%= image_tag 'shadow-separator-narrow-bottom.png' %>
            </div>
            <ul>
              <li>
                <strong>SSH Access</strong>
                to run npm from console inside your nodeenv virtal environment.
              </li>
              <li>
                <strong>MongoDB or PostgreSQL</strong> databases.
              </li>
              <li>
                Superfast RAM only <strong>Redis</strong> database.
              </li>
              <li>
                <strong>One</strong> .co.uk/.com/.net/.org domain registration.
              </li>
              <li>
                <strong>20</strong> email addresses with 2 GB space each.
              </li>
              <li>
                <strong>One free month for test without obligation</strong> (domain registration not included)
              </li>
            </ul>
            <div class='separator-shadow-top'>
              <%= image_tag 'shadow-separator-narrow-top.png' %>
            </div>
            <div class='button-w'>
              <a class='btn btn-primary' href='#'>Activate</a>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='plan-column highlight'>
            <h4>PHP Hosting</h4>
            <div class='separator-shadow-top'>
              <%= image_tag 'shadow-separator-narrow-top.png' %>
            </div>
            <div class='plan-price'>
              £ 99
              <span>year</span>
            </div>
            <div class='separator-shadow-bottom'>
              <%= image_tag 'shadow-separator-narrow-bottom.png' %>
            </div>
            <ul>
              <li>
                <strong>Wordpress</strong> or your favourite CMS pre-installed and configured, super easy start in minutes!
              </li>
              <li>
                <strong>PHP-FPM or HHVM</strong>, you can choose you favourite PHP running mode.
              </li>
              <li>
                <strong>MariaDB</strong> databases.
              </li>
              <li>
                Superfast <strong>Memcached</strong> daemon to improve SQL performance.
              </li>
              <li>
                Superfast <strong>APC</strong> cache for better PHP performance.
              </li>
              <li>
                <strong>One</strong> .co.uk/.com/.net/.org domain registration.
              </li>
              <li>
                <strong>20</strong> email addresses with 2 GB space each.
              </li>
              <li>
                <strong>One free month for test without obligation</strong> (domain registration not included)
              </li>
            </ul>
            <div class='separator-shadow-top'>
              <%= image_tag 'shadow-separator-narrow-top.png' %>
            </div>
            <div class='button-w'>
              <%= link_to 'Activate', '#', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='plan-column'>
            <h4>Ruby on Rails hosting</h4>
            <div class='separator-shadow-top'>
              <%= image_tag 'shadow-separator-narrow-top.png' %>
            </div>
            <div class='plan-price'>
              £ 99
              <span>year</span>
            </div>
            <div class='separator-shadow-bottom'>
              <%= image_tag 'shadow-separator-narrow-bottom.png' %>
            </div>
            <ul>
              <li>
                <strong>SSH Access</strong>
                to install gems from console inside your rvm virtual environment.
              </li>
              <li>
                <strong>MongoDB or PostgreSQL</strong> databases.
              </li>
              <li>
                Superfast RAM only <strong>Redis</strong> database.
              </li>
              <li>
                <strong>One</strong> .co.uk/.com/.net/.org domain registration.
              </li>
              <li>
                <strong>20</strong> email addresses with 2 GB space each.
              </li>
              <li>
                <strong>One free month for test without obligation</strong> (domain registration not included)
              </li>
            </ul>
            <div class='separator-shadow-top'>
              <%= image_tag 'shadow-separator-narrow-top.png' %>
            </div>
            <div class='button-w'>
              <%= link_to 'Activate', '#', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>