<div class='highlight-content highlighted-image-hosting-reseller text-center cta-box light'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h1 class='animated fadeInDown'>MOYD.CO Reseller plans</h1>
        <h2 class='animated fadeInUp'>Start your online hosting activity in the correct way.</h2>
      </div>
    </div>
  </div>
</div>

<!--
<section class='leaderboard leaderboard-style-one'>
  <div class='container'>
    <h1 class='animated fadeInDown'>MOYD.CO DNS: be the Master Of Your Domain!</h1>
    <h2 class='animated fadeInDown'>We're Route53 for your Hybrid Cloud: perfect for Openstack & OpenNebula</h2>
    <div class='relative-w'>
      <div class='frame-browser animated bounceInUp'>
        <div class='frame-buttons'>
          <div class='frame-button-close'></div>
          <div class='frame-button-max'></div>
          <div class='frame-button-min'></div>
        </div>
        <div class='frame-browser-image'>
          <%# image_tag 'showcase.jpg' %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class='separator-shadow-top above-screenshot-shadow'>
  <%# image_tag 'shadow-separator-wide-top.png' %>
</div>

-->
</div>
<div class='area-content'>
  <div class='container'>
    <div class='iconed-features style-2'>
      <div class='row'>
        <div class='col-md-4'>
          <div class='iconed-feature'>
            <div class='row'>
              <div class='col-md-4'>
                <div class='feature-icon-w animated rollIn'>
                  <i class='icon-exchange'></i>
                </div>
              </div>
              <div class='col-md-8'>
                <h4>A package of flats...</h4>
                <p>A package of 10 standard hosting to cut down the price and start your online activity in minutes. You'll relay on our fantastic infrastructure, so we are your technical guru!</p>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='iconed-feature'>
            <div class='row'>
              <div class='col-md-4'>
                <div class='feature-icon-w animated rollIn'>
                  <i class='icon-glass'></i>
                </div>
              </div>
              <div class='col-md-8'>
                <h4>...a terraced house...</h4>
                <p>Your VM on the cloud where you can instantiate all websites you like. The VM is configured with the same powerful technologies of our hosting, so you'll have the same speed!</p>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='iconed-feature'>
            <div class='row'>
              <div class='col-md-4'>
                <div class='feature-icon-w animated rollIn'>
                  <i class='icon-lock'></i>
                </div>
              </div>
              <div class='col-md-8'>
                <h4>...or a villa</h4>
                <p>No compromise: two physical servers with the most updated configurations in an high availability environment. Maximum speed with maximum availability!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='separator-shadow-top bottom-margin'>
      <%= image_tag 'shadow-separator-wide-top.png' %>
    </div>

    <h2 class='header-lined has-sub-header text-center' id='anchorPricing'>Pricing Tables</h2>
    <h4 class='sub-lined-header text-center'>The same price for three different services.</h4>
    <div class='pricing-table-columns bottom-margin'>
      <div class='row'>
        <div class='col-md-4'>
          <div class='plan-column'>
            <h4>Flats</h4>
            <div class='separator-shadow-top'>
              <%= image_tag 'shadow-separator-narrow-top.png' %>
            </div>
            <div class='plan-price'>
              <div class='plan-price'>
                £ 490
                <span>year</span>
              </div>
            </div>
            <div class='separator-shadow-bottom'>
              <%= image_tag 'shadow-separator-narrow-bottom.png' %>
            </div>
            <ul>
              <li>
                Choose your hosting platform: <strong>PHP, node.js or Ruby on Rails</strong>
                .
              </li>
              <li>
                <strong>MongoDB, MariaDB or PostgreSQL</strong> databases.
              </li>
              <li>
                <strong>Redis or Memcached</strong> RAM databases.
              </li>
              <li>
                <strong>10</strong> .co.uk/.com/.net/.org domain registration.
              </li>
              <li>
                <strong>200</strong> email addresses with 2 GB space each.
              </li>
            </ul>
            <div class='separator-shadow-top'>
              <%= image_tag 'shadow-separator-narrow-top.png' %>
            </div>
            <div class='button-w'>
              <a class='btn btn-primary' href='#'>Activate</a>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='plan-column highlight'>
            <h4>Terraced Home</h4>
            <div class='separator-shadow-top'>
              <%= image_tag 'shadow-separator-narrow-top.png' %>
            </div>
            <div class='plan-price'>
              £ 720
              <span>year</span>
            </div>
            <div class='separator-shadow-bottom'>
              <%= image_tag 'shadow-separator-narrow-bottom.png' %>
            </div>
            <ul>
              <li>
                Choose your hosting platform: <strong>PHP, node.js or Ruby on Rails</strong>
                .
              </li>
              <li>
                <strong>MongoDB, MariaDB or PostgreSQL</strong> databases.
              </li>
              <li>
                <strong>Redis or Memcached</strong> RAM databases.
              </li>
              <li>
                <strong>10</strong> .co.uk/.com/.net/.org domain registration, more as upgrade.
              </li>
              <li>
                <strong>1</strong> SSL certificate
              </li>
              <li>
                <strong>1</strong> IP address
              </li>
              <li>
                <strong>Unlimited</strong> web hosting spaces.
              </li>
              <li>
                <strong>Unlimited</strong> email addresses.
              </li>
              <li>
                VM with <strong>4 CPU, 4 GB RAM, 96 GB SSD Disk, 4GB monthly transfer</strong>.
              </li>
              <li>
                VM with cloud HA capabilities hosted in UK or USA datacenter.</strong>.
              </li>
            </ul>
            <div class='separator-shadow-top'>
              <%= image_tag 'shadow-separator-narrow-top.png' %>
            </div>
            <div class='button-w'>
              <%= link_to 'Activate', '#', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='plan-column'>
            <h4>Villa</h4>
            <div class='separator-shadow-top'>
              <%= image_tag 'shadow-separator-narrow-top.png' %>
            </div>
            <div class='plan-price'>
              £ 1,599
              <span>year</span>
            </div>
            <div class='separator-shadow-bottom'>
              <%= image_tag 'shadow-separator-narrow-bottom.png' %>
            </div>
            <ul>
              <li>
                Choose your hosting platform: <strong>PHP, node.js or Ruby on Rails</strong>
                .
              </li>
              <li>
                <strong>MongoDB, MariaDB or PostgreSQL</strong> databases.
              </li>
              <li>
                <strong>Redis or Memcached</strong> RAM databases.
              </li>
              <li>
                <strong>10</strong> .co.uk/.com/.net/.org domain registration, more as upgrade
              </li>
              <li>
                <strong>1</strong> SSL certificate, more as upgrade.
              </li>
              <li>
                <strong>32</strong> IP addresses
              </li>
              <li>
                <strong>Unlimited</strong> web hosting spaces.
              </li>
              <li>
                <strong>Unlimited</strong> email addresses.
              </li>
              <li>
                2 physical servers <strong>4 CPU cores, 16 GB RAM, 2x120 GB SSD Disk</strong>.
              </li>
            </ul>
            <div class='separator-shadow-top'>
              <%= image_tag 'shadow-separator-narrow-top.png' %>
            </div>
            <div class='button-w'>
              <%= link_to 'Activate', '#', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>