<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta "http-equiv"="X-UA-Compatible" content="IE=edge">
  <title>MOYD.co | Cloud Operator DNS Software</title>

  <!-- OLD HEAD -->


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="alexaVerifyID" content="8JrySZrkUlEsKeP3eSNug157bRI"/>
  <meta name="HandheldFriendly" content="true"/>
  <meta name="MobileOptimized" content="320"/>
  <meta name="description" content="Moyd.co is the new Cloud Operator Monitor and DNS Server Software with High Availability, Load Balancing and GeoDNS functionality. Now, be the Master Of Your Domain!">
  <meta name="keywords" content="Moyd, moyd.co, master of your domain, DNS, monitor, GeoDNS, Load Balancing, High Availability, GeoDNS, Anycast, server, Cloud, OpenNebula, OpenStack" >
  <meta name="author" content="Moyd.co Ltd">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="image_src" href="<%= image_path 'thumbnail.png' %>">
  <link rel="icon" type="image/ico" href="<%= image_path 'favicon.ico' %>">

  <!-- END OLD HEAD -->
  <!-- Hammer reload -->
  <script>
    setInterval(function(){
      try {
        if(typeof ws != 'undefined' && ws.readyState == 1){return true;}
        ws = new WebSocket('ws://'+(location.host || 'localhost').split(':')[0]+':35353')
        ws.onopen = function(){ws.onclose = function(){document.location.reload()}}
        ws.onmessage = function(){
          var links = document.getElementsByTagName('link');
          for (var i = 0; i < links.length;i++) {
            var link = links[i];
            if (link.rel === 'stylesheet' && !link.href.match(/typekit/)) {
              href = link.href.replace(/((&|\?)hammer=)[^&]+/,'');
              link.href = href + (href.indexOf('?')>=0?'&':'?') + 'hammer='+(new Date().valueOf());
            }
          }
        }
      }catch(e){}
    }, 1000)
  </script>
  <!-- /Hammer reload -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'swipebox' %>
  <%= stylesheet_link_tag 'blue' %>
  <%= stylesheet_link_tag 'animate.min' %>
  <%# stylesheet_link_tag params[:controller] %>
  <%# javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
      $.src='//v2.zopim.com/?2VLwo4AsDy72dMqmcqKuyn6WBS3R3BzL';z.t=+new Date;$.
          type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
  </script>
  <!--End of Zopim Live Chat Script-->
</head>
<!-- <body data-spy="scroll" data-target=".navbar" data-offset='64' onLoad="$.stellar();"> -->
<body>
<%= render 'layouts/header' %>
<%= render 'layouts/flashes' %>

<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
