<!DOCTYPE html>
<html>
<head>
  <title>MOYD.co | Cloud Operator DNS Software</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true"/>
  <meta name="MobileOptimized" content="320"/>
  <meta name="description" content="Moyd.co is the new Cloud Operator Monitor and DNS Server Software with High Availability, Load Balancing and GeoDNS functionality. Now, be the Master Of Your Domain!">
  <meta name="keywords" content="Moyd, moyd.co, master of your domain, DNS, monitor, GeoDNS, Load Balancing, High Availability, GeoDNS, Anycast, server, Cloud, OpenNebula, OpenStack" >
  <meta name="author" content="Moyd.co Ltd">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag params[:controller] %>

  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="image_src" href="<%= image_path 'thumbnail.png' %>">
  <link rel="icon" type="image/ico" href="<%= image_path 'favicon.ico' %>">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset='64' onLoad="$.stellar();">

<%= yield %>

</body>
</html>
