<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta "http-equiv"="X-UA-Compatible" content="IE=edge">
  <%= display_meta_tags :site => 'MOYD.co',
                        :publisher => 'https://plus.google.com/+MoydCo',
                        :og => {
                            :sitename => 'MOYD.co LTD',
                            :app_id => '815756978449035',
                            :url => "https://moyd.co#{request.original_fullpath}"
                        },
                        :twitter => {
                            :card => "summary",
                            :site => "@moydco"
                        }


  %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="alexaVerifyID" content="8JrySZrkUlEsKeP3eSNug157bRI"/>
  <meta name="HandheldFriendly" content="true"/>
  <meta name="MobileOptimized" content="320"/>

  <link rel="image_src" href="<%= image_path 'thumbnail.png' %>">
  <link rel="icon" type="image/ico" href="<%= image_path 'favicon.ico' %>">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45180542-1', 'auto');
    ga('send', 'pageview');

  </script>

  <%= stylesheet_link_tag params[:controller] %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
      $.src='//v2.zopim.com/?2VLwo4AsDy72dMqmcqKuyn6WBS3R3BzL';z.t=+new Date;$.
          type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
  </script>
  <!--End of Zopim Live Chat Script-->
</head>

<body>
<%= render 'layouts/header' %>
<%= render 'layouts/flashes' %>

<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
